{% extends 'base.html' %}

{% block title %}
Articles
{% endblock %}

{% block body %}
<div class="container py-5 ">
    <h1>All of the articles</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert.alert-info">
            <hr>
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Date: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Details</a>

        </div>
        {% endfor %}
    <p></p>
    <br>
    <p></p>
    {% else %}
    <p>There are no articles yet</p>
    {% endif %}
</div>
{% endblock %}